.arrow_popover {
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  transform: translateY(-100%);
  &::after {
    content: '';
    width: 50px;
    background: transparent;
    position: absolute;
    height: 20px;
    top: 0px;
    right: 0;
  }
  &::before {
    content: '';
    width: 50px;
    background: transparent;
    position: absolute;
    height: 20px;
    top: 0px;
    left: 0;
  }
}
